<aside>
    <h1>SKYwalk SHOES</h1><hr>
    <p>Skywalk shoes is one of the leading leather company located in <b>Chennai,TamilNadu</b> and was 
        founded in the year <b>1980</b>.The founder of skywalk shoes company is <b>Mr.Radhakrishna</b>.He worked
        as a CEO for about 20 years.After his retirement,the company was taken into control by <b>Mr.Ramasamy</b>
        who is the son of former CEO.The company is producing different kinds of leather products
        but their main focus is footwears.It is earning lakhs and lakhs of profits each year.
    </p>
    <h2>PRODUCTS</h2>
    <p>As already told, the company is manufacturing different kinds of leather products such
       as <b>Shoes,Purses,Bags,Belt</b> etc.They are manufacturing more than <b>10,00,000</b> shoes per year.
       Not only they are selling in the domestic markets but also they are exporting the products
       to many foreign countries like America,Japan,European countries,Dubai etc.By exporting the items,
       they are turning over nearly <b>500 crores</b> every year.
    </p>
    <h2>GROWTH OF THE COMPANY</h2>
    <p>The company was started working with only <b>50 employees</b> in the year 1980.At that time they faced a 
        lot of problems.They run their company on a rental bulding and also dont have a lot of orders like
        now.But due to the continuous efforts of Mr.RadhaKrishna,they got succeeded as a company and now standing
        as one of the leading manufaturers of leathers.The company faced a lot of financial problems in the 
        year 1990 because of their competent companies.On that time they were manufacturing only purses,belt
        and bags.Within overnight the CEO has cameup with the idea of <b>manufacturing shoes</b> also and then
        their growth was like a rocket.They were going up and up only.Now they have earned a name for their 
        brand among the peoples all over the world.
    </p>

</aside>
