aside{
    height: 380px;
    width: 750px;
    margin: -440px 0px 0px 260px;
    overflow-y: scroll;
}
p{
    font-size: 18px;
    text-align: justify;
    text-indent: 25px;
}
h2{
    text-decoration: underline;
    color: blue;
}