<aside>
    <h1>ANDHRA PRADESH</h1><hr>
    <p>It is situated in the southeastern coast of India,Andhra Pradesh is the 4th largest
        State of India.The State of Andhra Pradesh is well promoted by their tourism
        department and is well knoen for its rich natural resources,temples and rivers.
    </p>
    <h4>HERE ARE SOME OF THE THINGS THAT ANDHRA PRADESH IS FAMOUS FOR:</h4>
    <ol>
        <li>TIRUPATHI</li>
        <li>ANANTHAGIRI HILLS</li>
        <li>ORAVAKALLU ROCK GARDEN</li>
        <li>KAILASAGIRI</li>
    </ol>
    <h3>TIRUPATHI:</h3>
    <p>Tirupathi is home to a unique geological wonder that you should not miss out on.The 
        <b>Silathoranam</b> is a natural arch formed out of rocks and is loacted at the Tirumala 
        Hills.This natural rock formation is one of the only three of its kind in the entire 
        world and is an important <b>archaeological landmark.</b>
    </p>
    <h3>ANANTHAGIRI HILLS:</h3>
    <p>Ananthagiri hills is a beautiful retreat 90km away from Hyderabad city.One of the earliest
        human habitat areas,Ananthagiri is a hill town of <b>ancient caves,temples,medieval fort
        palaces</b> that showcases the history of the area.The place offers some of the best 
        trekking trails and thus serves as a trekker's paradise.
    </p>
    <h3>ORAVAKALLU ROCK GARDEN:</h3>
    <p>There are a few ordinary landscapes in Kurnool.One fascinating stretch is a park with
        <b>igneous rock formations.</b>A less ordinaryhiking area and a bit unusual picnic spot,
        this ine, is a must visit in <b>Kurnool</b>
    </p>
    <h3>KAILASAGIRI:</h3>
    <p>Kailasagiri is a hill top park in the city of <b>Vishakhapatnam.</b>The hill is at 360 feet
        and it overlooks beaches,forests and the city of Vishakhapatnam.It is one of the best 
        tourist spots in the city for a bird's eye view of the bay.It is also well known for its 
        <b>panoramic view,peacful atmosphere and its scenic beauty.</b>

    </p>
</aside>
