<section>
   <div>
    <table>
        <tr>
            <td><a [routerLink]="['./tamil_nadu']">TAMIL NADU</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./mumbai']">MUMBAI</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./kerala']">KERALA</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./andhra_pradesh']">ANDHRA PRADESH</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./goa']">GOA</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./mizoram']">MIZORAM</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./gujarat']">GUJARAT</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./delhi']">DELHI</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./himachal_pradesh']">HIMACHAL PRADESH</a></td>
        </tr>
        <tr>
            <td><a [routerLink]="['./meghalya']">MEGHALAYA</a></td>
        </tr>
    </table>
  </div>
</section>
