<aside>
    <h1>CONTACT US</h1><hr>
    <p>If you have any questions, feel free to contact us.You can conatct us in many ways like,</p>
    <ol>
        <li>TWITTER</li>
        <li>FACEBOOK</li>
        <li>PHONE NUMBER</li>
        <li>EMAIL</li>
    </ol>
    <h3>TWITTER:</h3>
    <p>If you want to contact us through the twitter kindly tweet us at <b>@SKYwalkshoes</b> 
        twitter account.</p>
    <h3>FACEBOOK:</h3>
    <p>If you want to contact us through the facebook kindly contact us at <b>Skywalk shoes</b> 
       facebook page.
    </p>
    <h3>PHONE NUMBER:</h3>
    <p>You can also contact us via phone <b>2232-22046712 or 91-9826363733.</b></p>
    <h3>EMAIL:</h3>
    <p>You can also reach us via email <b>skywalkshoes@gmail.com</b> </p>
</aside>
