<aside>
    <h1>DELHI</h1><hr>
    <p>Delhi,city and and national capital territory,north-central India.The city of Delhi actually 
       consists of two components:Ols Delhi.in the north,The historic city;and New Delhi,in the south
       ,since 1947 the capital of India,built in the first part of the 20th century as the capital of
       British India. 
    </p>
    <h4>HERE ARE SOME OF THE THINGS THAT DELHI IS FAMOUS FOR:</h4>
    <ol>
        <li>LOTUS TEMPLE</li>
        <li>NIZAMUDDIN DARGAH</li>
        <li>RAJGHAT</li>
        <li>RED FORT</li>
    </ol>
    <h3>LOTUS TEMPLE:</h3>
    <p>Lotus Temple also called as the <b>Bahai's temple</b>,this temple is one of a kind.The 
    speciality of this temple is that itb has the structure of a lotus.A simple,beautiful and 
    magnificient white lotus,this is the description of this place.It is an <b>architectural
     masterpiece.</b>
</p>
<h3>NIZAMUDDIN DARGAH:</h3>
<p>Sufi musi has a magic of its own,but when heard in a setup sucha as this,the music seems 
    spectacularly amazing.There is much more to this dargah,a <b>Muslim place of worship,
    </b>than that can be detailed.But among some of the extraordinary features of the place
    are the <b>Sufi songs</b>,the devotional ambience and the commendable architecture.
</p>
<h3>RAJGHAT:</h3>
<p>The tomb of the <b>father of the nation</b>,the beloved <b>Mahatma Gandhi</b> lays 
    among the immaculately maintained gardens at the Rajghat.Another one of the thing that
    Delhi is famous for,the Rajghat has held ots charm and splendour to date.The nearby locations 
    house two museums that have been constructed tn the memory of and dedicated to Gandhiji.   
</p>
<h3>RED FORT</h3>
<p>The Red Fort,what can be said about this carcass of sandstone that still stands tall within the
    city limits except that this it is amazing.The fort is now only a reminder of the last phase
    of the <b>Mughal period</b> and the infiltration of the British in the country but the 
    significance of this place is still the same.This fort still prides itself on being the place 
    where the <b>national flag</b> is hoisted each year on the <b>Independence Day</b>.

</p>
</aside>
