<aside>
    <h1>GOA</h1><hr>
    <p>The state of Goa, in India is famous for its Beautiful beaches,nightlife party,Safety and
        Hospitality,carnival,Water sports.Beautiful beaches:<b>Goa </b>has more than <b>70 
        beaches</b>.The most popular beach of Goa is a Baga beaches.
    </p>
    <h4>HERE ARE SOME OF THE THINGS THAT GOA IS FAMOUS FOR:</h4>
    <ol>
        <li>AMAZING BEACHES</li>
        <li>MAJESTIC CARNIVAL</li>
        <li>THRILLING WATERSPORTS</li>
        <li>CHEAP LIQUOR</li>
    </ol>
    <h3>AMAZING BEACHES:</h3>
    <p>Goa is world famous for its <b>beach life</b>.From North to South of Goa for every five minutes of
       travel,you will find a new beach.Not only beaches,you will see the shacks with delicious
       seafood to offer.Goa is nothing without its beaches.Beaches add life to Goa and ,makes
       it a popilar reason for people to visit it.  
    </p>
    <h3>MAJESTIC CARNIVAL:</h3>
    <p>A <b>grand parade</b> in Goa that happens on every February.Whole Goa unites and people all
        around the world gather to celebrate this festival.This carnival festive culture dates
        back to the portuguese era.You can see the people across the city and villages, dressed 
        up in traditional clothing or a fancy dress.
    </p>
    <h3>THRILLING WATERSPORTS:</h3>
    <p>Goa is famous for adventure water sports.Goa offers the best water sports and other
        adventure sports such as <b>Scuba diving,paragliding,parasailing,banana boat riding
        and snorkelling.</b>
    </p>
    <h3>CHEAP LIQUOR:</h3>
    <p>Goa has lower tax rates for liquor all over the country.It is mainly to promote 
        tourism in the state.It has low taxes even on other commodities.All these lower tax 
        rates are applicable for <b>International liquors</b> as well.Alcohol served 
        everywhere around the city,from small restaurants to big restaurants.
    </p>
</aside>
