<aside>
    <h1>
        GUJARAT
    </h1><hr>
    <p>Gujarat is mainly famous for its Asiatic Lions,the white desert of rann of Kutch,colorful 
        handicrafts,festivals,food,unique culture,and its many religious sites.
    </p>
    <h4>HERE ARE SOME OF THE THINGS THAT GUJARAT IS FAMOUS FOR:</h4>
    <ol>
        <li>GIR</li>
        <li>SOMNATH TEMPLE</li>
        <li>RANN OF KUTCH</li>
        <li>SAPUTARA</li>
    </ol>
    <h3>GIR:</h3>
    <p>The only natural habitat of the Asiatic Lions,<b>Gir National Park</b> is the best place to 
        come face to face with them.Truly one of the best places to visit in Gujarat,Gir is also
        home to a variety of other rare wild animals such as <b>hyenas,fish owls,black bucks</b>
        etc,.Spread across nearly 1412 sq km of land,this is also the only national park in 
        India that has a community living inside its parameters,and that too in complete harmony with
        each other. 
    </p>
    <h3>SOMNATH TEMPLE:</h3>
    <p>It is a famous temple in Gujarat.One of the most sacred of the 12 <b>Jyotirlingas </b>
       of Lord Shiva,somnath temple is not just a religious site.Lying as it is on the shores of 
       the rough Arabian Sea,the temple is also a thing of wonder.It has been destroyed and rebuilt
       countless times,once by Lord soma in gold,once by Ravana in silver,once by Krishna in wood
       and once by King Bhimdev in stone. </p>
     <h3>RANN OF KUTCH:</h3>
     <p>Rann of Kutch is probably the most beautiful thing you will ever lay eyes on.Nested 
        comfortably between the endless <b>Thar Desert</b> and the almighty <b>Arabian Sea</b>
        ,rann of  kutch is a mesmerizing wonder of sand and salt.On full moon nights,the desert
        shines bright as a diamond,and brings a surreal sense of calm withit. 
     </p>
     <h3>SAPUTARA:</h3>
     <p>The only <b>"hill-station</b> in Gujarat,Sapatura comes as a breath of fresh air in the 
        otherwise hot and humid climate of the state.Sprawled beautifully on a densely forested 
        plateau,Sapatura is a hot new tourist destination,with a gigantic lake surrounded by 
        resorts.Attractions in sapatura include a boat club,an artisan village, a tribal museum,cable
         car and a couple of others.
    </p>
</aside>
