<aside>
    <h1>HIMACHAL PRADESH</h1><hr>
    <p>Himachal pradesh is synonymous with scenic beauty,serene landscape,and adventure
         sports.Literally.Himachal means <b>"the land of snow"</b>.Situated in the western Himalaya,
         Himachal Pradesh has several hill stations which ae the most appropriate destination to 
         find respite from the scorching summer heat.Now known as a destination for <b>"all Seasons 
         and all reasons."</b>
        </p>
        <h4>HERE ARE SOME OF THE THINGS THAT HIMACHAL PRADESH IS FAMOUS FOR:</h4>
        <ol>
            <li>KULLU-MANALI</li>
            <li>SHIMLA</li>
            <li>DHARMASHALA</li>
            <li>KASAULI</li>
            <li>BIR BILLING</li>
        </ol>
        <h3>KULLU-MANALI:</h3>
        <p>One of the best places to visit in Himachal Pradesh is Kullu and Manali.If you are on a 
            lookout for fresh air and greeen mountains amidst the snow covered ranges then <b>Kullu
            Manali</b> indeed should be on the top of your list.There are numerous awesome places 
            to visit in Manali that makes your vacation a perfect one. 
        </p>
        <h3>SHIMLA:</h3>
        <p>One of the most famous hill stations Of Northern India-<b>Shimla</b> which is the right 
            mix of Indian glory with British sophistication.It is consecrated stunning landscape
            and fresh climate all through the year.
        </p>
        <h3>DHARMASHALA:</h3>
        <p><b>Dharmashala</b> definitely has to be on your list of best Himachal Pradesh 
           destinations.Famous not only because of its climate but also you get to see how 
           multicultural Indian community lives in harmony with the Indo Tibetan Community.  
        </p>
        <h3>KASAULI:</h3>
        <p>Kasauli is a perfect gateway from the hustle bustle of the city and os one of the most serene
           places to visit in Himachal in June.Almost on the <b>outskirts of Punjab and Haryana</b> 
           ,it is well connected by roadways.
         </p>
         <h3>BIR BILLING:</h3>
         <p>If you are an adventure seeker,<b>Bir Blling</b> is the mecca for adventure sports and it
             has to be on your list of the top Himachal Pradesh tourist places,Bir is a small village
             which is located on the western side of Himachal Pradesh and is blessed with some 
             refreshing climate.  
            </p>
</aside>
