<aside>
        <h1>STATES OF INDIA</h1>
        <hr>
        <p> India is a federal union comprising of 28 states and 8 union territories,for a total of 36
            entities.The states and union territories are further divided into districts and smaller 
            administrative divisions. 
        </p>
        <h3>Here is a list of 28 states available in India:</h3>
        <ol>
            <li>ANDHRA PRADESH</li>
            <li>ARUNACHAL PRADESH</li>
            <li>ASSAM</li>
            <li>BIHAR</li>
            <li>CHATTISGARH</li>
            <li>GOA</li>
            <li>GUJARAT</li>
            <li>HARYANA</li>
            <li>HIMACHAL PRADSH</li>
            <li>JHARKHAND</li>
            <li>KARNATAKA</li>
            <li>KERALA</li>
            <li>MANIPUR</li>
            <li>MAHARASHTRA</li>
            <li>MEGHALAYA</li>
            <li>MIZORAM</li>
            <li>NAGALAND</li>
            <li>ODISHA</li>
            <li>RAJASTHAN</li>
            <li>SIKKIM</li>
            <li>TAMIL NADU</li>
            <li>TELANGANA</li>
            <li>TRIPURA</li>
            <li>UTTAR PRADESH</li>
            <li>UTTARAKHAND</li>
            <li>WEST BENGAL</li>
        </ol>
        <h3>These are the 8 union territories available in India:</h3>
        <ol>
            <li>ANDAMAN AND NICOBAR ISLANDS</li>
            <li>CHANDIGARH</li>
            <li>DIU AND DAMAN</li>
            <li>DELHI</li>
            <li>JAMMU AND KASHMIR</li>
            <li>LADAKH</li>
            <li>LAKSHADWEEP</li>
            <li>PUDUCHERRY</li>
        </ol> 
    
</aside>
