<aside>
    <h1>KERALA</h1><hr>
    <p>Kerala is famous especially for its ecotourism initiatives and beautiful backwaters.Its unique 
        culture and traditions,coupled with its varies demography,have made kerala one of the 
        most popular tourist destinations in the world. 
    </p>
    <h4>HERE ARE SOME OF THE THINGS THAT KERALA IS FAMOUS FOR:</h4>
    <ol>
        <li>THRISSUR POORAM</li>
        <li>ECO TOURISM</li>
        <li>SCENIC BEAUTY</li>
        <li>HOUSEBOATS</li>
        <li>KATHAKALI</li>
    </ol>
    <h3>THRISSUR POORAM:</h3>
    <p>Called the <b>'mother of all temple festivals',</b> do not miss this spectacular temple(and 
        elephant) festival in may this year.The highlights is elephant pageantry and
        procession.
    </p>
    <h3>ECO TOURISM:</h3>
    <p>The tourism industry of Kerala is its USP and beacuse of its ecotourism initiatives,
        it is highly popular among <b>foreign tourists too.</b>
    </p>
    <h3>SCENIC BEAUTY:</h3>
    <p>Mention Kerala and a picture of hills and valleys with gushing waterfalls,playful streams 
        and serene backwaters come to the mind.<b>Pristine beaches,wildlife Sanctuaries,exotic hill 
        stations and history laden forts</b> complete a mesmerizing experience for tourists.
    </p>
    <h3>HOUSEBOATS:</h3>
    <p>Kerala is synonymous with <b>houseboats</b>,Which dot the framed backwaters of the state.Take a ride
         on these experience the sights of kerala is a new way.  
    </p>
    <h3>KATHAKALI:</h3>
    <p>A <b>must-see</b> for any traveller,this intricate and beautiful dance form,the most famous
         to come out from this state,along with vibrant makeup is a treat for the eyes.
    </p>
</aside>
