<aside>
    <h1>MEGHALAYA</h1><hr>
    <p>Meghalaya is a hilly state in northeastern India.the name means "the abode of clouds" in
        sanskrit.Meghalaya also offers many adventure tourism opportunities in the form of 
        mountaineering,rock climbing,trekking,and hiking,caving and water sports.
    </p>
    <h4>HERE ARE SOME OF THE THINGS THAT MEGHALAYA IS FAMOUS FOR:</h4>
    <ol>
        <li>KRANG SURI FALLS</li>
        <li>CAVES</li>
        <li>MONOLITHS</li>
        <li>LIVING ROOT BRIDGES</li>
    </ol>
    <h3>KRANG SURI FALLS:</h3>
    <p>In Meghalaya,there are waterfalls and there's Krang Suri.This small but <b>stunning waterfall
        </b>is tucked away near Jowai,about an hour northeast of Dawki and about three hours southeast 
        of Shillong in the West Jaintia Hills.Be prepared to hike for around 20 minutes down a trail
        of steps to reach it.Entry tickets cost <b>50 rupees</b>.It's to go possible swimming although
        you will be told to wear a life-jacket. 
    </p>
    <h3>CAVES:</h3>
    <p>Meghalaya is the best destination for caving in India.There are more than 1,000 caves in
        the state,including the recently discovered longest sandstone cave in the world.The most
         frequently visited cave is <b>Mawsami,near Cherrapunji</b>.It's maintained as a show 
         cave for tourists and is lit up all the way through.The Garden of caves,near Laitmawsiang
         village on the wayto Cherrapunji,is spectacular and has waterfalls.
    </p>
    <h3>MONOLITHS:</h3>
    <p>Many mysterious monoliths can be found spread across Meghalaya's Khasi and Jaintia Hills,
        erected by the regions'tribes as a symbol of remembrance.However,the largest 
        collection is located in the <b>vicinity of Nartiang village in the Jaintia Hills</b>,
        about two hours east of Shillong.This village used to be the summer capital ofthe jaintia rulers
        and is a lesser-known tourist destination perfect for escaping the crowds.Some of the many 
        monoliths there are up to 10 meters tall.
    </p>
    <h3>LIVING ROOT BRIDGES:</h3>
    <p>Possibly Meghalaya's most famous attraction,deep in the dense tropical forest and shrouded
         in cloud and rain for much of the year,are some astonishing man-made natural wonders
         known as <b>Living Root Bridges</b> .Inventive members of the Khasi tribe Have trained 
         them to grow from the roots of ancient rubber trees,native to the northeast region.
        </p>
</aside>

