<aside>
    <h1>MIZORAM</h1><hr>
    <p>Mizoram literally means <b>Land of the Hill People</b>.Nestled along the mountains 
       that run through the state,Mizoram is known for its pristine hills and caves.
       Culturally,this region is liberated from cast and gender bars.</p>
    <h4>HERE ARE SOME OF THE THINGS THAT MIZORAM IS FAMOUS FOR:</h4>
    <ol>
        <li>LUNGLEI</li>
        <li>MAMIT</li>
        <li>KOLASIB</li>
        <li>REIEK</li>
    </ol>
    <h3>LUNGLEI:</h3>
    <p>This place is far away from the <b>hustle-bustle</b> of the city.This is one of the most
    breathtaking <b>Mizoram destinatons</b> that deserve your attention and time.its lovely landscapes
     and scenic setting makes it one of the top places to see in mizoram.There is also a rock-like
    bridge structure in the village and thus,the name Lunglei is given to it.
    </p>
    <h3>MAMIT:</h3>
    <P>Mamit is one of the <b>top tourist attractions</b> in this place and most of the wildlife 
    enthusiasts love to go to mamit.The <b>Dampa Wildlife Sanctuary</b>is one of the best attractions
    to visit here and you can spot <b>peacock,malaber pied hornbill,crested serpent eagleand 
    emerald-dove</b>.
    </P>
    <h3>KOLASIB:</h3>
    <P>This is one of the best places to <b>experience life away from the city</b>.The Crystal clear 
    waters of <b>River Tlawng </b> and the Tamdil Lake would give an experience to remember for a
     lifetime.The Lush green hills at the backdrop and the crystal clear water from these two
    water bodies make it a picture-perfect destination.</P>
    <h3>REIEK</h3>
    <P>Experience the lovely village life basking in the sun amidst the lush <b>green fields</b>
    of Reiek.For an offbeat experience in Mizoram,one must visit this village to enjoy to 
    the fullest.If you are a traveller and want to feel every single second of your life
    then,this is the place youm must live at for a few weeks.A walk in this village 
    would leave you <b>rejuvenated </b> totally.</P>
</aside>
