<aside>
    <h1>MUMBAI</h1><hr>
    <p>Mumbai is the city that never sleeps and that comes as no surprise because there's 
        so much to do here.Whether it's catching the morning sunset on one of the beautiful 
        promenades or unwinding at one of the city's part spots in the evening,Mumbai offers
        experiences that are unique to the city.
    </p>
    <h4>HERE ARE SOME OF THE THINGS THAT MUMBAI IS FAMOUS FOR:</h4>
    <ol>
        <li>HILL ROAD</li>
        <li>COLABA CAUSEWAY</li>
        <li>PALLADIUM</li>
        <li>MOHAMMED ALI ROAD</li>
        <li>JUHU BEACH</li>
    </ol>
    <h3>HILL ROAD:</h3>
    <P>On Hill Road we will find a number of clothes and accessory options.
        This <b>Bandra road</b> is the ultimate shopping destination offers the best deals on clothes and 
        shoes.Head there on the weekend as that is when you will find the most variety of tops and 
        shoes at super reasonable prices.Do exercise your bargaining skills here.
    </P>
    <h3>COLABA CAUSEWAY:</h3>
    <p>A major attraction with locals and tourists alike,this bustling area that offers great 
        deals on everything from shirts and dresses to shoes and accessories.You can also find 
        some great trinkets and good quality <b>leather shoes</b> at cheaper rates.This area offers 
        a complete Mumbai experience.
    </p>
    <h3>PALLADIUM:</h3>
    <p>Mumbai is often considered to be one of the country's best shopping hubs and the palladium is 
        one of the reasons for that.It offers the best high end brands such as <b>Gucci,Burberry 
        and Jimmy Choo</b> as well as high street labels such as Zara and Sephora.There are also
        many eating joints to check out here as well.
    </p>
    <h3>MOHAMMED ALI ROAD:</h3>
    <p>If you want some hearty <b>non-vegetarian</b> food then visit this road that offers delicious
        <b>biryani,nalli nilhari,quail,shawarma,keema</b> and a whole lot more.Some of the must try dessert
        here includes the warm mawa jalebis.While there are stalls through the year,the best time
        to visit is during Ramadan.
    </p>
    <h3>JUHU BEACH:</h3>
    <p>To get a taste of MUmbai's street food,you have to visit Juhu beach that boasts of a number of
        eateries that offer everything from <b>vadapav and sev puri to coconut water and falooda</b>.
        During the monsoon,you must try the bhutta that's served with butter,sea salt and a hit
        of masala. 
    </p>
</aside>
