<aside>
    <h1>TAMIL NADU</h1><hr>
    <p>The words Tamil Nadu literally means <b>'The Land of The Tamils or Tamil Country'.</b>
       The state of Tamil Nadu is the 11th largest state out of 28 states of india.
       The Tamil nadu is known for so many things like temples,culture,food,movies,etc.
       Now we are going to see some of the famous temples in tamilnadu. 
    </p>
    <h4>HERE ARE SOME OF THE FAMOUS TEMPLES IN TAMIL NADU</h4>
    <ol>
        <li>KAPALEESWARAR TEMPLE</li>
        <li>BRIHADEESWARAR TEMPLE</li>
        <li>MEENAKSHI TEMPLE</li>
        <li>RAMANATHASWAMY TEMPLE</li>
    </ol>
    <h3>KAPALEESWARAR TEMPLE:</h3>
    <p>The Kapaleeswara temple in <b>chennai</b> is one of the popular temples in tamil nadu.
        The 7th century Amrirulgu Kapaleeswarar temple is dedicated to Goddess parvati 
         in the form of Karpagambal or the 'Goddess of the Wish-Yielding Tree' and Lord Shiva.    
    </p>
    <p>
        The Gopuram,the main sanctuary in the temple is a unique example of Dravidian
         architectural style.The inscriptions in the premises of the temple date back to the 
         12th century.Major festivals like Brahmotsavam or 'Arupathumoovar' Festival,Theppa 
         Thiruvizha Float Festival,Navaratri Festival, and Vasanta Utsavam are celebrated
         at the temple premises.
    </p>
    <h3>BRIHADEESWARAR TEMPLE:</h3>
    <p>Brihadeeswarar temple of <b>Thanjavur</b> is one of the best places to visit in Tamil Nadu.
        Popularly known as "Thanjavur Periya kovil",this is the largest temple in India.
        The outstanding architecture makes it one of the best temples in india.
    </p>
    <p>The 1002-year old temple is dedicated to Lord Shiva.It was built in 1010 AD by the 
        Chola Emperor,Rajaraja Chola 1.The temple represents the brilliancy and excellence 
        of the architectural skills of cholas.There are 250 lingams and sculptures of his 108 
        dance poses in the temple premises.UNESCO has declared it a World Heritage Monument. 
    </p>
    <h3>MEENAKSHI TEMPLE:</h3>
    <p><b>Madurai's</b> Meenakshi Sundareswarar temple is one of the best temples in Tamil Nadu.
      It is dedicated to Lord Shiva in the form of Sundareswarar and his consort,Goddess parvati
      in the form of Meenakshi.The complex houses 14 magnificient Gopurams including two
      golden Gopurams for the main deities elaborately sculptured and painted.    
    </p>
    <p>The present temple standing today was built in the 17th century A.D. by the Nayak 
        rulers.The image of Goddess Meenakshi is said to be carved out of a single emerald.
        According to the legend of this temple the marriage of the goddess Meenakshi to Shiva 
        actually took place in Madurai and is still celebrated every summer with great excitement.

    </p>
    <h3>RAMANATHASWAMY TEMPLE:</h3>
    <p>Located in the Pamban Island.the Ramanathaswamy temple of <b>Rameshwaram</b> is one of the holiest 
        temples in tamil nadu.The temple houses one of the 12 Jyotirlingas and is among the Char 
        dham pilgrimages. 
    </p>
    <p>The Ramanathaswamy temple has the longest corridor in the world,about 3000 feet long.
        The templex is also home to 22 teerthams.or holy water bodies in the form of tanks and 
        wells.These teerthams represent the 22 arrows in Rama's quiver.It is considered essential
        for every devotee to bathe before entering the sanctum sanctorum.The beautiful loacation 
        and the divine ambience of Rameshwaram inspires visitors from all over the world throughout
        the year. 

    </p>


</aside>
